.vscode/settings.json
node_modules
docs/assets/images/.$secobserve_architecture.drawio.bkp
docs/assets/images/.$secobserve_process.drawio.bkp
docs/assets/images/.$secobserve_process.drawio.dtmp
.scannerwork
frontend/cypress/screenshots
frontend/cypress/videos
frontend/public/runtime-env.js
frontend/.env
backend/dummy
backend/huey.db
backend/huey.db-shm
backend/huey.db-wal
