.vscode/settings.json
node_modules
docs/assets/images/.$secobserve_architecture.drawio.bkp
docs/assets/images/.$secobserve_process.drawio.bkp
docs/assets/images/.$secobserve_process.drawio.dtmp
.scannerwork
frontend/public/runtime-env.js
frontend/.env
backend/dummy
backend/huey.db
backend/huey.db-shm
backend/huey.db-wal
frontend/.env.microsoft
keycloak/h2/keycloakdb.trace.db
keycloak/h2/keycloakdb.lock.db
keycloak/h2/keycloakdb.mv.db
backend/application/import_observations/parsers/trivy_operator_prometheus_file
coverage.xml
docker-compose-dev-metabase.yml
__pycache__
# PyCharm
/.idea/
# Virtual environment
/.venv/
# Generated content
/site/
