version: "3"

volumes:
  prod_mysql_data:
  prod_postgres_data:

services:
  frontend:
    build:
      context: .
      dockerfile: ./docker/frontend/Dockerfile
      args:
        VERSION: prod_test
    image: secobserve_frontend
    environment:
      API_BASE_URL: ${SO_API_BASE_URL:-http://localhost:5000/api}
      OAUTH2_ENABLE: ${SO_OAUTH2_ENABLE:-false}
      OAUTH2_AUTHORITY: ${SO_OAUTH2_AUTHORITY:-dummy}
      OAUTH2_CLIENT_ID: ${SO_OAUTH2_CLIENT_ID:-dummy}
      OAUTH2_REDIRECT_URI: ${SO_OAUTH2_REDIRECT_URI:-http://localhost:3000}
      OAUTH2_POST_LOGOUT_REDIRECT_URI: ${SO_OAUTH2_POST_LOGOUT_REDIRECT_URI:-http://localhost:3000}
      OAUTH2_SCOPE: ${SO_OAUTH2_SCOPE:-dummy}
    ports:
      - "3000:3000"

  backend:
    build:
      context: .
      dockerfile: ./docker/backend/prod/django/Dockerfile
      args:
        VERSION: prod_test
    image: secobserve_backend_prod
    depends_on:
      - postgres
    environment:
      # --- Admin user ---
      ADMIN_USER: ${SO_ADMIN_USER:-admin}
      ADMIN_PASSWORD: ${SO_ADMIN_PASSWORD:-admin}
      ADMIN_EMAIL: ${SO_ADMIN_EMAIL:-admin@example.com}
      # --- Database ---
      DATABASE_ENGINE: ${SO_DATABASE_ENGINE:-django.db.backends.postgresql}
      DATABASE_HOST: ${SO_DATABASE_HOST:-postgres}
      DATABASE_PORT: ${SO_DATABASE_PORT:-5432}
      DATABASE_DB: ${SO_DATABASE_DB:-secobserve}
      DATABASE_USER: ${SO_DATABASE_USER:-secobserve}
      DATABASE_PASSWORD: ${SO_DATABASE_PASSWORD:-secobserve}
      # --- Security ---
      ALLOWED_HOSTS: ${SO_ALLOWED_HOSTS:-localhost}
      CORS_ALLOWED_ORIGINS: ${SO_CORS_ALLOWED_ORIGINS:-http://localhost:3000}
      DJANGO_SECRET_KEY: ${SO_DJANGO_SECRET_KEY:-NxYPEF5lNGgk3yonndjSbwP77uNJxOvfKTjF5aVBqsHktNlf1wfJHHvJ8iifk32r}
      FIELD_ENCRYPTION_KEY: ${SO_FIELD_ENCRYPTION_KEY:-DtlkqVb3wlaVdJK_BU-3mB4wwuuf8xx8YNInajiJ7GU=}
      # --- OAuth2 ---
      OAUTH2_AUTHORITY: ${SO_OAUTH2_AUTHORITY:-}
      OAUTH2_USERNAME: ${SO_OAUTH2_USERNAME:-}
      OAUTH2_FIRST_NAME: ${SO_OAUTH2_FIRST_NAME:-}
      OAUTH2_LAST_NAME: ${SO_OAUTH2_LAST_NAME:-}
      OAUTH2_EMAIL: ${SO_OAUTH2_EMAIL:-}
    ports:
      - "5000:5000"

  mysql:
    image: mysql:8.1.0
    profiles:
      - mysql
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: ${SO_MYSQL_RANDOM_ROOT_PASSWORD:-yes}
      MYSQL_DATABASE: ${SO_MYSQL_DATABASE:-secobserve}
      MYSQL_USER: ${SO_MYSQL_USER:-secobserve}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD:-secobserve}
    volumes:
      - prod_mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"

  postgres:
    image: postgres:15.4-alpine
    environment:
      POSTGRES_DB: ${SO_POSTGRES_DB:-secobserve}
      POSTGRES_USER: ${SO_POSTGRES_USER:-secobserve}
      POSTGRES_PASSWORD: ${SO_POSTGRES_PASSWORD:-secobserve}
    volumes:
      - prod_postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
