mkdocs-material==9.6.22  # https://github.com/squidfunk/mkdocs-material
Markdown==3.9  # https://github.com/Python-Markdown/markdown
pymdown-extensions==10.16.1  # https://github.com/facelessuser/pymdown-extensions
