dev_addr: 127.0.0.1:9000

site_name: SecObserve

theme:
  name: material
  logo: assets/images/secobserve_white_icon.svg
  icon:
    repo: fontawesome/brands/git-alt
  features:
    - navigation.top
    - navigation.tabs
    - navigation.tabs.top
    - navigation.footer
  custom_dir: docs/overrides
  palette:
    accent: light blue
  font:
    text: Poppins

extra_css:
  - assets/stylesheets/secobserve.css

markdown_extensions:
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - attr_list
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
repo_url: https://github.com/MaibornWolff/SecObserve
repo_name: maibornwolff/secobserve

copyright: Copyright &copy; 2023 MaibornWolff GmbH

# Page tree
nav:
  - Home: index.md
  - Getting started:
    - About SecObserve: getting_started/about.md
    - Features: getting_started/features.md
    - Architecture: getting_started/architecture.md
    - Data model: getting_started/data_model.md
    - Anatomy of an observation: getting_started/anatomy_of_an_observation.md
    - Installation: getting_started/installation.md
    - Configuration: getting_started/configuration.md
    - Upgrading: getting_started/upgrading.md
  - Usage:
    - Import observations: usage/import_observations.md
    - Supported scanners: usage/supported_scanners.md
    - Assess observations: usage/assess_observations.md
    - Product groups: usage/product_groups.md
    - Branches: usage/branches.md
    - Rule engine: usage/rule_engine.md
    - Security gates: usage/security_gates.md
    - Duplicates: usage/duplicates.md
    - Metrics: usage/metrics.md
    - Users and permissions: usage/users_permissions.md
  - Integrations:
    - Overview: integrations/overview.md
    - GitHub actions and GitLab CI templates: integrations/github_actions_and_templates.md
    - OpenID Connect: integrations/oidc_authentication.md
    - Exploit Prediction Scoring System (EPSS): integrations/epss.md
    - Source code repositories: integrations/source_code_repositories.md
    - Issue trackers: integrations/issue_trackers.md
    - Notifications: integrations/notifications.md
    - Export of observations: integrations/observations_export.md
    - CodeCharta: integrations/codecharta.md
    - Links to additional information: integrations/links.md
    - REST API: integrations/rest_api.md
  # - Development:
  #   - Overview: development/overview.md
