[MASTER]
load-plugins=pylint_django, pylint_celery
django-settings-module=config.settings.base
ignore-paths=.*/migrations

[FORMAT]
max-line-length=120

[MESSAGES CONTROL]
disable=abstract-method,broad-except,too-few-public-methods,missing-docstring,invalid-name

[DESIGN]
max-args=6
max-attributes=10
max-locals=20
max-parents=13
max-returns=7

[TYPECHECK]
generated-members=REQUEST,acl_users,aq_parent,"[a-zA-Z]+_set{1,2}",save,delete
