name: Build and push release images

on:
  workflow_dispatch:
    inputs:
      release:
        description: 'SecObserve release (without the v)'
        required: true

permissions: read-all

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
        with:
          ref: 'v${{ github.event.inputs.release }}'
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push backend
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./docker/backend/prod/django/Dockerfile
          push: true
          tags: |
            maibornwolff/secobserve-backend:${{ github.event.inputs.release }}
            maibornwolff/secobserve-backend:latest
          build-args:
            VERSION=${{ github.event.inputs.release }}
      -
        name: Build and push frontend
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./docker/frontend/Dockerfile
          push: true
          tags: |
            maibornwolff/secobserve-frontend:${{ github.event.inputs.release }}
            maibornwolff/secobserve-frontend:latest
          build-args:
            VERSION=${{ github.event.inputs.release }}
