name: Build and push dev images

on:
  push:
    branches:
      - 'dev'
      - 'docker_dev'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push backend
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docker/backend/prod/django/Dockerfile
          push: true
          tags: maibornwolff/secobserve-backend:dev
      -
        name: Build and push frontend
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docker/frontend/Dockerfile
          push: true
          tags: maibornwolff/secobserve-frontend:dev
