name: Build and push dev images

on: workflow_dispatch

permissions: read-all

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push backend
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docker/backend/prod/django/Dockerfile
          push: true
          tags: maibornwolff/secobserve-backend:dev
          build-args:
            VERSION=dev
      -
        name: Build and push frontend
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docker/frontend/Dockerfile
          push: true
          tags: maibornwolff/secobserve-frontend:dev
          build-args:
            VERSION=dev
