name: Check for vulnerabilities in the code

on: [push]

permissions: read-all

jobs:
  check_code_vulnerabilities:
    if: github.repository == 'SecObserve/SecObserve'
    runs-on: ubuntu-latest
    steps:
      - 
        name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      -
        name: Run vulnerability scanners for code
        uses: SecObserve/secobserve_actions_templates/actions/vulnerability_scanner@74c3daa2d89be5c6b1f9033a245e0ab45affe258 # main
        with:
          so_configuration: 'so_configuration_code.yml'
          SO_API_TOKEN: ${{ secrets.SO_API_TOKEN }}
