name: Check application licenses for dev

on:
  push:
    branches:
      - dev

permissions: read-all

jobs:
  scan_licenses:
    runs-on: ubuntu-latest
    steps:
      - 
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 24
      - 
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - 
        name: Install programs
        env:
          CDXGEN_VERSION: 11.2.3
        run: |
          npm install -g @cyclonedx/cdxgen@"$CDXGEN_VERSION"
      - 
        name: Generate SBOM for backend application
        env:
          FETCH_LICENSE: 1
        run: |
          mv ./backend/poetry_requirements.txt ./backend/poetry_requirements.sic
          cdxgen ./backend --type python --required-only --profile license-compliance --no-auto-compositions --output sbom_backend_application.json
          mv ./backend/poetry_requirements.sic ./backend/poetry_requirements.txt
      - 
        name: Generate SBOM for frontend application
        run: |
          cdxgen ./frontend --type npm --no-babel --required-only --profile license-compliance --no-auto-compositions --project-name secobserve --output sbom_frontend_application.json
      -
        name: Import backend SBOM
        uses: SecObserve/secobserve_actions_templates/actions/upload_sbom@936a764a4e82cc89772941e082ba24c371c6ef90 # main
        with:
          so_product_name: 'SecObserve'
          so_file_name: 'sbom_backend_application.json'
          so_branch_name: 'dev'
          so_api_base_url: "https://secobserve-backend.maibornwolff.de"
          so_api_token: ${{ secrets.SO_API_TOKEN }}
      -
        name: Import frontend SBOM
        uses: SecObserve/secobserve_actions_templates/actions/upload_sbom@936a764a4e82cc89772941e082ba24c371c6ef90 # main
        with:
          so_product_name: 'SecObserve'
          so_file_name: 'sbom_frontend_application.json'
          so_branch_name: 'dev'
          so_api_base_url: "https://secobserve-backend.maibornwolff.de"
          so_api_token: ${{ secrets.SO_API_TOKEN }}
