name: Check for vulnerabilities in the code

on: [push]

permissions: read-all

jobs:
  check_code_vulnerabilities:
    if: github.event.repository.url == 'https://github.com/MaibornWolff/SecObserve'
    runs-on: ubuntu-latest
    steps:
      - 
        name: Checkout code
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2
      -
        name: Run vulnerability scanners for code
        uses: MaibornWolff/secobserve_actions_templates/actions/vulnerability_scanner@cd1288ce6cb16c1b41bea98f60c275c0fc103166 # main
        with:
          so_configuration: 'so_configuration_code.yml'
          SO_API_TOKEN: ${{ secrets.SO_API_TOKEN }}
