name: Check backend

on: [push, pull_request]

permissions: read-all


env:
  POETRY_NO_INTERACTION: 1

jobs:
  code_quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: 3.14

      - name: Install dependencies
        working-directory: ./backend
        run: |
          python -m pip install --upgrade -r poetry_requirements.txt
          python -m pip install --upgrade import-linter
          python -m poetry install --extras "code_quality dev" --no-root

      - name: Flake8
        working-directory: ./backend
        run: |
          poetry run flake8 . --count --show-source --statistics

      - name: Black
        working-directory: ./backend
        run: |
          poetry run black . --check

      - name: isort
        working-directory: ./backend
        run: |
          poetry run isort . -c

      - name: MyPy
        working-directory: ./backend
        run: |
          ./bin/run_mypy.sh

      - name: PyLint
        working-directory: ./backend
        run: |
          ./bin/run_pylint.sh

      - name: Import linter
        working-directory: ./backend
        run: |
          lint-imports --no-cache

  unittests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Unittests
        run: |
          docker build -f docker/backend/unittests/django/Dockerfile -t secobserve_backend_unittests:latest .
          docker run --rm \
            --volume ./backend:/home \
            --env-file docker/backend/unittests/envs/django \
            --env-file docker/backend/unittests/envs/sqlite \
            secobserve_backend_unittests:latest
      - name: "Upload coverage report"
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: coverage-report
          path: backend/coverage.xml
          retention-days: 1

  check_code_sonarqube_backend:
    if: github.repository == 'SecObserve/SecObserve' && (github.ref == 'refs/heads/dev' || github.event_name == 'pull_request')
    needs: [unittests]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0  
      - name: Download a single artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: coverage-report
      - name: Run SonarQube scan for backend
        uses: SonarSource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602 # v6.0.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN_BACKEND }}
        with:
          projectBaseDir: backend
