name: Check for vulnerabilities in the code

on: [push]

permissions: read-all

jobs:
  check_code_vulnerabilities:
    if: github.repository == 'MaibornWolff/SecObserve'
    runs-on: ubuntu-latest
    steps:
      - 
        name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      -
        name: Run vulnerability scanners for code
        uses: MaibornWolff/secobserve_actions_templates/actions/vulnerability_scanner@03881bede1d05a40887bf26d8dfd7a1a37be892d # main
        with:
          so_configuration: 'so_configuration_code.yml'
          SO_API_TOKEN: ${{ secrets.SO_API_TOKEN }}
