name: Publish docs

on:
  push:
    branches:
      - main
      - chore/docs_release_notes

permissions: read-all

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: 3.x
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          key: ${{ github.ref }}
          path: .cache
      - run: pip install -r mkdocs_requirements.txt
      # MkDocs does not support adding non-installed (local) plugins via configuration alone.
      # By setting PYTHONPATH to mkdocs_plugins, we ensure MkDocs can import custom plugins from this directory.
      - env:
          PYTHONPATH: docs/mkdocs_plugins
        run: mkdocs gh-deploy --force
