name: Publish docs

on:
  push:
    branches:
      - main
      - chore/deploy-docs

permissions:
  pages: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - uses: actions/cache@v4
        with:
          key: ${{ github.ref }}
          path: .cache
      - run: pip install -r mkdocs_requirements.txt
      - run: mkdocs gh-deploy --force
