name: SCA scan current release

on:
  workflow_dispatch:
  schedule:
    - cron: '30 2 * * *'

permissions: read-all

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: 'v1.28.0'
      -
        name: Run SCA vulnerability scanners
        uses: MaibornWolff/secobserve_actions_templates/actions/vulnerability_scanner@b7132036f4970c237bf85b56d0033fd5f6726ab7 # main
        with:
          so_configuration: 'so_configuration_sca_current.yml'
          SO_API_TOKEN: ${{ secrets.SO_API_TOKEN }}
      - 
        name: Run endpoint vulnerability scanners
        uses: MaibornWolff/secobserve_actions_templates/actions/vulnerability_scanner@b7132036f4970c237bf85b56d0033fd5f6726ab7 # main
        with:
          so_configuration: 'so_configuration_endpoints.yml'
          SO_API_TOKEN: ${{ secrets.SO_API_TOKEN }}
