name: SCA scan current release

on:
  workflow_dispatch:
  schedule:
    - cron: '30 2 * * *'

permissions: read-all

jobs:
  docker:
    if: github.repository == 'SecObserve/SecObserve'
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: 'v1.41.0'
      -
        name: Run SCA vulnerability scanners
        uses: SecObserve/secobserve_actions_templates/actions/vulnerability_scanner@936a764a4e82cc89772941e082ba24c371c6ef90 # main
        with:
          so_configuration: 'so_configuration_sca_current.yml'
          SO_API_TOKEN: ${{ secrets.SO_API_TOKEN }}
      - 
        name: Run endpoint vulnerability scanners
        uses: SecObserve/secobserve_actions_templates/actions/vulnerability_scanner@936a764a4e82cc89772941e082ba24c371c6ef90 # main
        with:
          so_configuration: 'so_configuration_endpoints.yml'
          SO_API_TOKEN: ${{ secrets.SO_API_TOKEN }}
